{{>layout/header}}
<main id="feed">
	{{#images}}
	<div class="photo u-default-box">
		<header class="photo__header">
			<img src="/upload/{{#profileImage}}{{profileImage}}{{/profileImage}}" onerror="this.src='/images/avatar.jpg'" /> 
			<span class="photo__username">{{user.username}}</span>
		</header>

		<!-- 사진꽉채우기 css -->
		<div class="photo_post_image"> 
			<img src="/upload/{{imageUrl}}" />
		</div>
		
		<div class="photo__info">
			<div class="photo__actions">
				<span class="photo__action">
				{{#likeState}}
					<i onclick="unLike({{id}})" class="fa heart heart-clicked fa-heart"></i>
				{{/likeState}}
				{{^likeState}}
					<i onclick="like({{id}})" class="fa fa-heart-o heart"></i>
				{{/likeState}}
				</span> 
				<span class="photo__action"> 
					<i class="fa fa-comment-o"></i>
				</span>
			</div>
			
			<span class="photo__likes">좋아요 {{likeCount}}개</span>
			<br/><br/>			
			
			<div>
			<span class="photo__username">{{user.username}}</span>
				{{#caption}}{{caption}}{{/caption}}
			</div>
			<br/>
			<!-- 이미지 태그 뿌리기 -->
			<div class="photo_tag">
				{{#tags}}
					#{{name}}
				{{/tags}}
			</div>
			
			<ul class="photo__comments">
				{{#comments}}
				<li class="photo_comment">
					<span class="photo__comment-author">{{user.username}}</span> 
					<span style="font-size:12px;">{{content}}</span>
					{{#commentHost}}
						<i onclick="commentDelete({{id}})" class="fa fa-trash"></i>
					{{/commentHost}}
				</li>
				{{/comments}}
			</ul>
			<span class="photo__date">{{createDate}}</span>
			<div class="photo__add-comment-container">
				<form id="frm-{{id}}" style="width:100%;">
					<input type="hidden" name="userId" value="{{loginUser.id}}" />
					<input type="hidden" name="imageId" value="{{id}}" />
					<textarea id="content-{{id}}" name="content"  placeholder="Add a comment..."></textarea>
				</form>	
				<i onclick="commentSend({{id}})" class="fa fa-angle-right"></i>
			</div>
		</div>
	</div>
	{{/images}}	
</main>
<script src="/js/comment.js"></script>
<script src="/js/like.js"></script>
{{>layout/footer}}
